@charset "utf-8";

// mixin
@mixin position($position, $padding){
    position: $position;
    padding: $padding;
}
@mixin line($cont, $positionab, $top, $display, $width, $height, $bgColor){
    content: $cont;
    position: $positionab;
    top: $top;
    display: $display;
    width: $width;
    height: $height;
    background-color: $bgColor;
}
@mixin fontsizeColor($fontSize, $color){
    font-size: $fontSize;
    color: $color;
}
@mixin desktop(){
    @media (min-width: $desktop){
        @content;
    }
} 
@mixin tablet(){
    @media (min-width: ($mobile + 1)) and (max-width: $tablet){
        @content;
    }
}
@mixin mobile(){
    @media (max-width: $mobile){
        @content;
    }
}

// responsive
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
// var
$primary: #FFFCF1;
$light: gray;
$text-color: #333;
$secondary: #9E6934;

// index.html
.main_header {
    position: relative;
    & .greeting {
        padding-left: 5px;
        position: relative;
        &::before {
            @include line("", absolute, 5px, block, 2px, 16px, #999);
            left: -1px;
        }
        & img {
            width: 20px;
        }
    }
}

// login.html
.hidden {
    display: none;
}

/* login */
.login_wrap_overlay {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    background-color: rgba(0,0,0,0.8); 
    z-index: 999;
}
.login_wrap {
    position: absolute; 
    top: 300px; 
    left: 50%; 
    width: 80%;  
    height: auto;
    z-index: 9999;
    transform: translateX(-50%);
    @include tablet {
        width: 70%;
    }
    @include mobile {
        width: 60%;
    }
    #login {
        & .login_form_wrap {
            border-radius: 20px 20px 0 0;
            & .login_form {
                padding: 100px 112px 50px;
                position: relative;
                & .close_btn {
                    position: absolute;
                    top: 60px;
                    right: 0;
                    & img {
                        width: 26px;
                    }
                }
                & .title {
                    font-size: 42px;
                    font-weight: bold;
                    padding-bottom: 60px;
                }
                & form {
                    & .user_account {         
                        & input {
                            outline: 0 none;
                            border: 1px solid #999;
                            border-radius: 10px;
                        }
                    }
                    & .user_id {
                        margin-bottom: 20px;
                    }
                    & .user_pw {
                        margin-bottom: 10px;
                    }
                    & label {
                        @include fontsizeColor(16px, #999);
                    }
                    & .user_info {
                        & .save_id { 
                            label {
                                @include fontsizeColor(14px, $text-color);
                                margin-left: 5px;
                            }
                        }
                        ul li:nth-child(2){
                            @include position(relative, 0 20px);
                            &:before, &:after {
                                @include line("", absolute, 8px, block, 1px, 10px, #999);
                            }
                            &:before {
                                right: 10px;
                            }
                            &:after {
                                left: 11px;
                            }
                        }
                        @include mobile(){
                            ul li:nth-child(2){
                                &:before, &:after {
                                    @include line("", absolute, 9px, block, 1px, 10px, #999);
                                }
                            }
                        }
                        ul li a {
                            @include fontsizeColor(14px, $text-color);
                            text-decoration: none;
                        }
                    } // user_info
                    & .d-grid {
                        padding: 60px 0 278px;
                        & .login, & .kakao_login {
                            height: 70px;
                            font-size: 26px;
                            font-weight: 500;
                        }
                        & .login {
                            border-radius: 0.375rem;
                            border: none;
                            outline: none;
                        }
                        & .kakao_login {
                            margin-top: 12px;
                            background-color: #f7e409;
                            position: relative;
                            & img {
                                width: 42px;
                                position: absolute;
                                top: 15px;
                                left: 20px;
                            }
                        }
                        & .or {
                            margin-top: 20px;
                            color: #999;
                            font-size: 14px;
                            position: relative;
                            z-index: 10;
                            &:after {
                                @include line("", absolute, 10px, block, 100%, 1px, #999);
                                z-index: -1;
                            }
                            & span {
                                background-color: #fff;
                                padding: 0 5px;
                            }
                        }
                    } // login button
                } // form
                & .kakao_sink {
                    & p {
                        border-top: 2px solid #000;
                        padding: 20px 0 3px;
                    }
                    & ul li {
                        &:nth-child(1){
                            font-size: 12px;
                        }
                        &:nth-child(2){
                            font-size: 12px;
                            color: #ccc;
                        }
                    }
                }
            } // login_form
            
            @include tablet {
                & .login_form {
                    padding: 80px 10px 50px;
                    & .close_btn {
                        top: 40px;
                        & img {
                            width: 24px;
                        }
                    }
                    & .title {
                        font-size: 36px;
                        padding-bottom: 60px;
                    }
                    & form {
                        & .d-grid {
                            padding-bottom: 160px;
                            & .login, & .kakao_login {
                                height: 60px;
                                font-size: 20px;
                            }
                            & .kakao_login {
                                & img {
                                    width: 36px;
                                    position: absolute;
                                    top: 12px;
                                    left: 20px;
                                }
                            }
                        }
                    }
                }
            } // responsive 992px
            @include mobile {
                & .login_form {
                    padding: 30px;
                    & .close_btn {
                        top: 30px;
                        right: 20px;
                        & img {
                            width: 22px;
                        }
                    }
                    & .title {
                        font-size: 30px;
                        padding-bottom: 40px;
                    }
                    & form {
                        & .user_info {
                            & .save_id { 
                                label {
                                    @include fontsizeColor(12px, $text-color);
                                }
                            }
                            ul li a {
                                @include fontsizeColor(12px, $text-color);
                            }
                        }
                        & .d-grid {
                            padding: 30px 0 60px;
                            & .login, & .kakao_login {
                                height: 60px;
                                font-size: 16px;
                            }
                            & .or {
                                margin-top: 12px;
                                font-size: 12px;
                            }
                            & .kakao_login {
                                & img {
                                    width: 24px;
                                    position: absolute;
                                    top: 18px;
                                    left: 20px;
                                }
                            }
                        }
                    } // form
                    & .kakao_sink {
                        & p {
                            padding-top: 10px;
                            font-size: 14px;
                        }
                    }
                }
            } // responsive 768px
        }
    }
}

/* footer */
.footer_wrap {
    border-radius: 0 0 20px 20px;
    & .footer {
        border-top: 1px solid $secondary;
        height: 70px;
        align-items: center;
        & .info ul li:nth-child(2) {
            @include position(relative, 0 20px);
            &:before, &:after {
                @include line("", absolute, 8px, block, 1px, 10px, #999);
            }
            &:before {
                right: 10px;
            }
            &:after {
                left: 11px;
            }
        }
        & .info ul li a {
            @include fontsizeColor(14px, $text-color);
            text-decoration: none;
        }
        & .copy {
            font-size: 12px;
        }
    }
}

@import "font";
@import "reset";
@import "variable";
@import "../node_modules/bootstrap/scss/bootstrap.scss";